<div class="parent" *ngIf="inbox">
  
    <div [ngClass]="(primaryactive)?'active':''" id="primary" (click)="getPrimaryMails();">
      <img src="https://www.gstatic.com/images/icons/material/system/2x/inbox_black_20dp.png" class="icons">
      <p> Primary</p>
    </div>
    <div [ngClass]="(socialactive)?'active':''" id="social" (click)="getSocialMails();">
      <img src="https://www.gstatic.com/images/icons/material/system/2x/people_black_20dp.png" class="icons">
      <p>Social</p>
    </div>
    <div [ngClass]="(promotionsactive)?'active':''" id="promotions" (click)="getPromotionMails();">
      <img src="https://www.gstatic.com/images/icons/material/system/2x/local_offer_black_20dp.png" class="icons">
      <p>Promotions</p>
    </div>
</div>

<!-- 
    <div id="body">
        <table mat-table class="mat-elevation-z8">
          <tr mat-row *ngFor="let mail of mails">
            <td mat-cell class="checkbox-icon"><input type="checkbox"></td>
            <td mat-cell class="star-icon"><input class="star" type="checkbox" title="bookmark page"></td>
            <td mat-cell class="sendername">{{mail.sendername}}</td>
            <td mat-cell class="subject">{{mail.subject}}</td>
            <td mat-cell class="mailcontent">{{mail.content}}</td>
            <td mat-cell class="date">{{mail.date}}</td>
          </tr>
        </table>  
      </div> -->

<!-- <div class="body"> -->
  
  <table mat-table [dataSource]="mails" class="mat-elevation-z0">
    <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
        <td mat-cell *matCellDef="let mail"> <mat-checkbox></mat-checkbox> </td>
    </ng-container>
    <ng-container matColumnDef="starIcon">
        <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
        <td mat-cell *matCellDef="let mail"> <mat-icon (click)="toggle();">{{shape}}</mat-icon> </td>
    </ng-container>
  <!-- <ng-container matColumnDef="starIcon">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let mail"> <mat-checkbox></mat-checkbox> </td>
    <td mat-cell class="star-icon"><input class="star" type="checkbox" title="bookmark page"></td>
  </ng-container> -->

    <ng-container matColumnDef="sendername">
      <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
      <td mat-cell *matCellDef="let mail"> <b>{{mail.sendername}}</b> </td>
    </ng-container>
  
    <!-- <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
      <td mat-cell *matCellDef="let mail"> <b>{{mail.subject}} </b></td>
    </ng-container>
   -->
    <ng-container matColumnDef="mailcontent">
      <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
      <td mat-cell *matCellDef="let mail"> <b>{{mail.subject}} </b> {{mail.content}} </td>
    </ng-container>
  
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
      <td mat-cell *matCellDef="let mail"> <b>{{mail.date}}</b> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
<!-- </div> -->