  <div class="top-icon-bar">
    <span class="top-icons"><mat-checkbox matTooltip="Select all" matTooltipClass="tooltip"></mat-checkbox></span>
    <span class="top-icons"><mat-icon>arrow_drop_down</mat-icon></span>
    <!-- <span class="top-icons"><i class="fa fa-refresh" aria-hidden="true"></i></span> -->
    <span class="top-icons gap"><mat-icon matTooltip="Refresh" matTooltipClass="tooltip" mat-stroked-button (click)="openSnackBar()" aria-label="Show an example snack-bar">
      refresh</mat-icon></span>
    <span class="top-icons gap">
      <mat-icon matTooltip="More" matTooltipClass="tooltip" mat-icon-button [matMenuTriggerFor]="menu" 
      aria-label="Example icon-button with a menu">more_vert</mat-icon>
        <!-- <mat-icon>more_vert</mat-icon> -->
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Mark all as read</span>
        </button>
        <!-- <hr> -->
        <button mat-menu-item disabled>
          <span><i>Select messages to see more actions</i></span>
        </button>
      </mat-menu>
    
    </span>
  
    <span class="space"></span>
    <span class="pagination_icons">
      <!-- <span class="top-icons" id="pgno"><p>1-50 of 1,471</p></span> -->
      <span class="top-icons"><mat-icon>keyboard</mat-icon></span>
      <span class="top-icons"><mat-icon matTooltip="Older" matTooltipClass="tooltip" >keyboard_arrow_left</mat-icon></span>
    <span class="top-icons"><mat-icon matTooltip="Newer" matTooltipClass="tooltip">keyboard_arrow_right</mat-icon></span>
  </span>
    <!-- <span class="top-icons"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span> -->
  </div>
<div class="parent" *ngIf="inbox && mails.length!=0">

  <div [ngClass]="(primaryactive)?'active':''" id="primary" (click)="getPrimaryMails();">
    <mat-icon mat-list-icon>inbox</mat-icon>
    <p> Primary</p>
  </div>
  <div [ngClass]="(socialactive)?'active':''" id="social" (click)="getSocialMails();">
    <mat-icon mat-list-icon>people</mat-icon>
    <p>Social</p>
  </div>
  <div [ngClass]="(promotionsactive)?'active':''" id="promotions" (click)="getPromotionMails();">
    <mat-icon mat-list-icon>local_offer</mat-icon>
    <p>Promotions</p>
  </div>
</div>
<ng-container *ngIf="searchserv.search">
  {{filterfunction()}}
  {{searchserv.startSearch()}}
</ng-container>
<div class="message" *ngIf="mails.length==0">
  <mat-icon>search</mat-icon>
  <p>No messages matched your search.</p>
</div>

<table mat-table [dataSource]="mails" class="mat-elevation-z0">
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let mail" [ngClass]="(mail.read)?'readmail':'notreadmail'">
      <mat-checkbox matTooltip="Select" matTooltipClass="tooltip"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="starIcon">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let mail" (click)="mail.read=true" [ngClass]="(mail.read)?'readmail':'notreadmail'">
      <mat-icon matTooltip="Star" matTooltipClass="tooltip"
        (click)="mail.shape=((mail.shape == 'star') ? 'star_border':'star');"
         [ngClass]="(mail.shape == 'star')?'staractive':'starinactive'">{{mail.shape}}</mat-icon>
    </td>
  </ng-container>
  <ng-container matColumnDef="sendername">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let mail" (click)="mail.read=true" [ngClass]="(mail.read)?'readmail':'notreadmail'"> <p [ngClass]="(mail.read)?'readText':''">{{mail.sendername}}</p> </td>
  </ng-container>
  <ng-container matColumnDef="mailcontent">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th>
    <td mat-cell *matCellDef="let mail" (click)="mail.read=true" [ngClass]="(mail.read)?'readmail':'notreadmail'"> <p [ngClass]="(mail.read)?'readText':''">{{mail.subject}} </p>&nbsp;- &nbsp;{{mail.content}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef style="display: none;"></th> 
  <td mat-cell *matCellDef="let mail" (click)="mail.read=true" [ngClass]="(mail.read)?'readmail':'notreadmail'"> <p style="margin-left: 13px;" [ngClass]="(mail.read)?'readText':''">{{mail.date}}</p> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="true"></tr>
  <tr mat-row [ngClass]="(primaryactive)?'allrows':''" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>