<nav id="sidebar" [ngClass]="{'hidden': sidenavservice.hideSideNav }" (mouseenter)="mouseEnter() "
  (mouseleave)="mouseLeave()">
  <div class="nav-list">
    <div class="compose align-left" (click)="openCompose()" [ngClass]="{'nav-folded':!sidenavservice.hideSideNav}"><img
        src="https://www.gstatic.com/images/icons/material/colored_icons/1x/create_32dp.png" alt="compose"><span class="composetext"
        *ngIf="sidenavservice.hideSideNav"  >Compose</span></div>
    <a [routerLink]="['/']">
      <div class="nav-item" id="inbox" (click)="activate('inbox')">
        <mat-icon mat-list-icon>inbox</mat-icon>
        <h4 mat-line *ngIf="sidenavservice.hideSideNav">Inbox</h4>
      </div>
    </a>
    <a [routerLink]="['/starred']">
      <div class="nav-item" id="starred" (click)="activate('starred')">
        <mat-icon mat-list-icon>starred</mat-icon>
        <h4 mat-line *ngIf=" sidenavservice.hideSideNav">Starred</h4>
      </div>
    </a>
    <a [routerLink]="['/sent']">
      <div class="nav-item" id="sent" (click)="activate('sent')">
        <mat-icon mat-list-icon>send</mat-icon>
        <h4 mat-line *ngIf="sidenavservice.hideSideNav">Sent</h4>
      </div>
    </a>
    <a [routerLink]="['/trash']">
      <div class="nav-item" id="trash" (click)="activate('trash')">
        <mat-icon mat-list-icon>delete</mat-icon>
        <h4 mat-line *ngIf="sidenavservice.hideSideNav">Bin</h4>
      </div>
    </a>
    <!-- <a [routerLink]="['/important']">
      <div class="nav-item" id="important" (click)="activate('important')">
        <mat-icon mat-list-icon>label</mat-icon>
        <h4 mat-line *ngIf="sidenavservice.hideSideNav">Important</h4>
      </div>
    </a> -->
    <!-- <a [routerLink]="['/important']"> -->
      <div class="nav-item last">
        <mat-icon mat-list-icon>expand_more</mat-icon>
        <h4 mat-line *ngIf="sidenavservice.hideSideNav">More</h4>
      </div>
    <!-- </a> -->
  </div>
  <!-- Meet -->
  
  <div class="section-name"><h4 *ngIf=" sidenavservice.hideSideNav">Meet</h4><mat-icon *ngIf="!sidenavservice.hideSideNav" mat-list-icon>duo</mat-icon></div>
    <div class="meet">
      <mat-icon mat-list-icon>videocam</mat-icon>
      <h4 mat-line *ngIf="sidenavservice.hideSideNav">New meeting</h4>
    </div>
    <div class="meet last">
      <mat-icon mat-list-icon>keyboard</mat-icon>
      <h4 mat-line *ngIf="sidenavservice.hideSideNav">Join a meeting</h4>
    </div>
  <!-- hangout -->
  <div class="section-name"><h4 *ngIf=" sidenavservice.hideSideNav">Hangouts</h4><mat-icon *ngIf="!sidenavservice.hideSideNav" mat-list-icon>forum</mat-icon></div>
  <div class="hangout last" id="inbox">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 mat-line *ngIf="sidenavservice.hideSideNav">User</h4>
    <mat-icon *ngIf="sidenavservice.hideSideNav">arrow_drop_down</mat-icon>
    <mat-icon mat-list-icon *ngIf="sidenavservice.hideSideNav">add</mat-icon>
  </div>
  <div class="chat">
    <div class="hangicon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="5em" height="3em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M15 11l-1 2h-1.5l1-2H12V8h3m-4 3l-1 2H8.5l1-2H8V8h3m.5-6A8.5 8.5 0 0 0 3 10.5a8.5 8.5 0 0 0 8.5 8.5h.5v3.5c4.86-2.35 8-7.5 8-12A8.5 8.5 0 0 0 11.5 2z" fill="#626262"/></svg></div>
    <p *ngIf=" sidenavservice.hideSideNav">No recent chats</p>
    <p *ngIf=" sidenavservice.hideSideNav">Start a new one</p>
  </div>
  <div class="final">
    <mat-icon *ngIf="sidenavservice.hideSideNav" mat-list-icon>person</mat-icon>
    <mat-icon *ngIf="sidenavservice.hideSideNav" mat-list-icon>chat</mat-icon>
  </div>
</nav>
<div class="composewrapper">
<form *ngIf="composepanel" class="add-window" [ngClass]="{'minimum': minimize,'large': large} ">
  <div class='header' >New Message
    <span class="headericons">
    <mat-icon id="minmax" (click)="toggleComposePanel()">minimize</mat-icon>
    <mat-icon id="enlarge" (click)="maximizeComposePanel()"  >open_in_full</mat-icon> 
    <mat-icon (click)="closeCompose()" >close</mat-icon> </span>
  </div>
  <!-- *ngIf="minimize" -->
  <div class='inner' id="hide">
    <div>
      <input type="text" placeholder="To" required>
    </div>
      <div>
        <input type="text"  placeholder="Subject"  required>
    </div>
        <div><textarea></textarea></div>
        <div class='button-bar'>
          <!-- <div class="bb"> -->
          <button mat-raised-button (click)="openCompose()">Send</button>
          <mat-icon id="blueicon" >arrow_drop_down</mat-icon>
        <!-- </div> -->
        
        <div class="centericons">
          <mat-icon >format_color_text</mat-icon> 
          <mat-icon >attach_file</mat-icon>
          <mat-icon >insert_link</mat-icon> 
          <mat-icon >insert_emoticon</mat-icon> 
          <mat-icon >insert_drive_file</mat-icon> 
          <mat-icon >insert_photo</mat-icon> 
          <mat-icon >lock</mat-icon> 
        </div>
        <div class="endicons">
          <mat-icon >more_vert</mat-icon>
          <mat-icon >delete</mat-icon>
        </div>
        </div>
      </div>
</form>
</div>