nav {
  transition: all 0.4s;
}

a{
  text-decoration: none;
}

.active{
  >h4{
    font-weight: 600 !important;
    color:#000000;
  }
  mat-icon{
    color:#000000;
  }
  background-color:  #E8E8E8 !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.inboxactive{
  >h4{
    font-weight: 600 !important;
    color:#FF1500;
  }
  mat-icon{
    color:#FF1500;
  }
  background-color:  #FCE8E6 !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}
.meet{
  padding-left :26px;
  display: flex;
  column-gap: 11px;
  height: 28px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  align-self: center;
  color: #8a8a8a;
  font-size: 10px;
  transition: all 0.4s;
  margin-right: 20px;
  >h4{
    color: rgb(0, 0, 0) !important;
  }
  &:hover {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #E8E8E8;
}
}

h4{
  font-size: 14px !important;
}

.last {
  
  cursor: pointer;
}


#sidebar{
  margin-top: 20px;
}

#sidebar.hidden {
  width: 265px;
  transition: all 0.4s;
  .hangout{
    :last-child{
      
      margin-left:120px;
      font-size: 20px;
    }
  }
}
.nav-item {
  margin-left: 6px;
  display: flex;
  column-gap: 11px;
  height: 28px;
  padding: 3px 0px;
  align-self: center;
  color: #696464;
  font-size: 10px;
  transition: all 0.4s;
  margin-right: 20px;
  &:nth-child(2) {
      // border-top: 1px solid #C5C5C5;
      margin-top: 12px;
  }
  mat-icon {
      padding: 0px 4px 0px 19px;
      font-size: 20px;
  }
  &:hover {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      background-color: #E8E8E8;
  }
  h4 {
      font-size: 13px;
  }
}


.compose {
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 8px;
  width:40%;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px 23px 8px 15px;
  margin-left: 6px;
  margin-bottom: 20px;
  background-color: white;
  // -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
  // -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
  // box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  transition: all 0.4s;
}
.nav-folded {
  padding: 8px;
}
.section-name{
  padding-left :26px;
  display: flex;
  column-gap: 11px;
  border-top: 0.5px solid #dbdada;

  height: 28px;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  align-self: center;
  color: #696464;
  font-size: 10px;
  transition: all 0.4s;
  margin-right: 20px;
  margin-top: 10px;
  >h4{
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
  }
}
.hangout{
  padding-left :26px;
  display: flex;
  // column-gap: 7px;
  height: 28px;
  padding-bottom: 2px;
  padding-top: 2px;
  align-self: center;
  // align-items: flex-start;
  color: #696464;
  font-size: 10px;
  transition: all 0.4s;
  margin-right: 20px;
  :nth-child(2){
    margin-left: 7px;
  }
  :nth-child(3){
    margin-top:1px;
    font-size: 20px;
    color:#928e8e;
  }
  >h4{
    color: rgb(0, 0, 0) !important;
  }
  // :last-child{
  //   margin-left:120px;
  //   font-size: 20px;
  // }
  :first-child{
    color: rgb(21, 125, 223);

  }
  :last-child:hover {
    // padding: 5px;
    border-radius: 50%;
    background-color: #E8E8E8;
}
:first-child:hover {
  // padding: 5px;
  border-radius: 50%;
  background-color: #E8E8E8;
}
}
.chat{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 12px;
  p{
    font-size: 13px;
    line-height: 7px;;
  }
  :first-child{
  color: #696464;
  }
  :last-child{
    color: rgb(29, 115, 228);
  }
}
.final{
  display: flex;
  // row-gap: 60px;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-left: 90px;
  // width: 100%;
  // margin-left: 90px;
  mat-icon{
    font-size: 18px;
    padding-right: 7px;
    padding-left: 4px;
    padding-top: 1px;
  }
  *:hover{
    cursor: pointer;
  }
}

.composetext{
  font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  // font-weight: 200;
  font-size:.875rem;
  color:#3c4043;
  font-weight: 500;
}

.meet:hover{
  cursor: pointer;
}
.hangout:hover{
  cursor: pointer;
}
.hangicon{
  opacity: 50%;
  
}

// compose css

.composewrapper{

}

form *{
  // font-family: Arial, Helvetica, sans-serif;
}

.add-window {
  // min-width: 350px;
  width: 450px;
  height: 475px;
  position: absolute;
  bottom: 5px;
  right: 70px;
  background-color: white;
  border-radius: 10px;
  box-shadow:-4px -3px 9px 0px rgba(50, 50, 50, 0.75);
  z-index: 100;

 
}
.headericons{
  float: right;
}
// enlarged and minimize
// .add-window.large,.add-window.minimum{
//   bottom: -435px;
//   width: 225px;
//   right: 70px;

// }
.add-window.large{
  width: 900px;
  height: 550px;
  bottom: 50px;
  right: 200px;
  textarea {
    width: 100%;
    height: 340px;
    border: none;
    resize: none;
  }
  
}
.add-window.minimum{
  bottom: -435px;
  width: 225px;
}
.add-window .header {
  padding: 10px;
  font-size: 14px;
  background-color: rgb(64, 64, 64);
  color: white;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  mat-icon{
    cursor: pointer;
     padding-top:2px;
     padding-left:2px;
    font-size:14px;
  }
  mat-icon:hover{
    background-color: #8a8a8a !important;
  }
}
.add-window div {
  padding: 5px 5px;
}
.button-bar {
  width:100%;
  margin-left: 10px;
  // text-align: left;
  display:flex;

  mat-icon{
    cursor: pointer;
  }
 
      button{
          background-color:rgb(26,115,232);
          color:white;
          font-weight: 500;
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: 5px;
          border-radius: 0 !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
        }
        #blueicon{

          padding: 6px 0px 6px 3px;
          background-color: #1a73e8;
          color: white;
          font-size: 18px;
          border-radius: 0 !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
        }
 
      .centericons{
        display: flex;
      flex-direction: row;
      row-gap: 10px;
        color: gray;
        mat-icon{
          margin-left:5px;
          margin-right:5px;
        }
      }
    .endicons{
      // margin-left:20px;
      float:right;
      color: gray;
    }
}
input[type="text"] {
  width: 100%;
  height: 25px;
  outline:none;
  border: 0;
  border-bottom: .2px solid rgb(203, 203, 203);
}
textarea {
  width: 100%;
  height: 280px;
  border: none;
  resize: none;
}

textarea:focus{
  outline: none;
}

