<div class="container">
    <mat-toolbar>
        <mat-icon class="tb-menu" matTooltip="Main menu" matTooltipClass="tooltip" (click)="sidenavservice.toggleSideNav()">
            menu</mat-icon>
        <img class="gb_va" src="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png" srcset="https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_1x_r2.png 1x, https://ssl.gstatic.com/ui/v1/icons/mail/rfr/logo_gmail_lockup_default_2x_r2.png 2x "
            alt="" aria-hidden="true" style="width:109px;height:40px">
        <span class="example-spacer">
        <div class="tb-search">
            <mat-icon matTooltip="search" matTooltipClass="tooltip">search</mat-icon>
            <input (focus)="focus()" (focusout)="focusout()" type="search" placeholder="Search mail">
            <mat-icon matTooltip="show search options"  (click)="close=!close" matTooltipClass="tooltip">arrow_drop_down</mat-icon>
        </div>
    </span>
        <div class="tb-option">
            <mat-icon matTooltip="Support" matTooltipClass="tooltip">help_outline</mat-icon>
            <mat-icon matTooltip="Settings" matTooltipClass="tooltip">settings</mat-icon>
            <mat-icon matTooltip="Google apps" matTooltipClass="tooltip">apps</mat-icon>
            <mat-icon matTooltip="Google Account" matTooltipClass="tooltip">account_circle</mat-icon>
        </div>
    </mat-toolbar>

</div>
<div class="filterform" *ngIf="close">
    <div class="filterform-div">
        <p>From</p>
        <input type="text" class="filterform-input">
    </div>
    <div class="filterform-div">
        <p>To</p>
        <input type="text" class="filterform-input">
    </div>
    <div class="filterform-div">
        <p>Subject</p>
        <input type="text" class="filterform-input">
    </div>
    <div class="filterform-div">
        <p>Has the word</p>
        <input type="text" class="filterform-input">
    </div>
    <div class="filterform-div">
        <p>Doesn't have</p>
        <input type="text" class="filterform-input">
    </div>
    <div class="filterform-div">
        <p>Size</p>

        <select matNativeControl required>
          <option value="">Greater than</option>
          <option value="saab">Less Than</option>
        </select>
        <input type="text" class="filterform-input-small">
        <select matNativeControl required>
          <option value="volvo">1MB</option>
          <option value="saab">1GB</option>
        </select>

    </div>
    <div class="filterform-div">
        <p>Search</p>
        <input type="text" class="filterform-input">
    </div>
    <section class="checkbox">
        <mat-checkbox class="example-margin">Has attachment</mat-checkbox>
        <mat-checkbox class="example-margin">Dont include chats</mat-checkbox>
    </section>

    <section class="action-row">
        <button mat-button>Create Filter</button>
        <button mat-raised-button color="primary">Search</button>
    </section>

</div>
