@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$border-color:#dadbdd;
.container {
    height: 64px;
    z-index: 10;
}

.example-spacer {
    flex: 1 1 auto;
}

.tb {
    &-menu {
        margin-right: 10px;
    }
    &-option {
        width: 12%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &-search {
        width: 70%;
        margin: 5px 0px 5px 85px;
        max-width: 560px;
        margin-left: 85px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f1f2f3;
        border-radius: 10px;
        position: relative;
        transition: all 1s ease-in-out;
        mat-icon {
            margin: 5px 8px 5px 8px;
            padding: 10px;
            &:last-child {
                position: absolute;
                right: 0;
            }
        }
        input {
            background-color: #f1f2f3;
            border: none;
            width: 75%;
            padding: 10px;
            font-size: 16px;
            font-family: 'Open Sans', sans-serif;
            transition: all 1s ease-in-out;
            &:focus {
                outline: none;
            }
        }
        input:focus {
            background-color: white;
        }
    }
}

.focused {
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.45);
}

mat-icon {
    font-size: 25px;
    color: #72767a;
    padding: 10px;
}

mat-toolbar {
    height: 100%;
    background-color: white;
    border-bottom: 1.5px solid $border-color;
    img:hover {
        cursor: pointer;
    }
}

mat-icon:hover {
    cursor: pointer;
    background-color: #dad5d5;
    // padding:10px;
    border-radius: 50%;
}

::ng-deep .mat-menu-panel {
    width: 500px !important;
    padding: 0 10px!important;
}

.filterform {
    width: 48vw;
    z-index: 100;
    height: 400px;
    background: white;
    border-radius: 5px;
    position: fixed;
    top: 10%;
    min-width: 400px;
    left: 270px;
    // position: relative;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.8);
    &-div {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: gray;
        align-items: flex-end;
        height: 30px;
        margin-top: 14px;
        align-items: flex-end;
        font-size: 12px;
        width: 80%;
        padding-left: 36px;
    }
    &-input {
        width: 80%;
        height: 20px;
        border: none;
        box-shadow: inset 0 -1px 0 0 #c2c3c4;
        transition: all 1s;
        &-small {
            border: none;
            box-shadow: inset 0 -1px 0 0 #c2c3c4;
            transition: all 1s;
            width: 23%;
            height: 20px;
        }
    }
    select {
        border: none;
        padding: 6px;
        box-shadow: inset 0 -1px 0 0 #c2c3c4;
    }
    p {
        margin: 0;
    }
}

.action-row {
    position: absolute;
    right: 4%;
    bottom: 4%;
}

.checkbox {
    margin: 16px 35px;
    display: flex;
    width: 285px;
    justify-content: space-between;
}

input:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 0 #4285f4;
}

.filterform-input-form {
    width: 23%;
}

.menu {
    background-color: #72767a;
}