.container{
    // background-color: black;
    border-left: 1.5px solid #dadbdd;
    width: 50px;
    height: 90%;
}
mat-icon{
    font-size: 25px;
    color: #72767a;
}
.nav-image{ 
    height: 20px;
}

mat-list-item:hover{
    cursor: pointer;
    // background-color: #c01212; not working
    // padding:10px;
    border-radius: 50%;
}
// mat-nav-list:not(:nth-child(4)){
//     border-radius: 100%;
// }
#fade-icon{
    opacity: 0.3;

}
// #fade-icon:hover{
//     background-color:white;
   
//     border-radius: 50%;
// }
// #toggle{
//     position: absolute;
//     bottom:0;
//     margin-top : auto;
// }