<div class="container">
<mat-nav-list>
    <mat-list-item>
      <img matTooltip="Calendar" matTooltipPosition="below" matTooltipClass="tooltip" class="nav-image" src="https://www.gstatic.com/companion/icon_assets/fgdY29RxT2yHBfEODHlF70ZI3ytOaPoX/calendar_v3_2x.png">
    </mat-list-item>
    <mat-list-item>
      <img  matTooltip="Keep" matTooltipClass="tooltip" class="nav-image" src="https://www.gstatic.com/companion/icon_assets/keep_2020q4v2_2x.png">
    </mat-list-item>
    <mat-list-item>
      <img  matTooltip="Tasks" matTooltipClass="tooltip" class="nav-image" src="https://www.gstatic.com/companion/icon_assets/tasks2_2x.png">
    </mat-list-item>
    <mat-list-item>
      <mat-icon id="fade-icon">remove</mat-icon>
    </mat-list-item>
    <mat-list-item>
      <mat-icon  matTooltip="Get Add ons" matTooltipClass="tooltip" >add</mat-icon>
    </mat-list-item>
  </mat-nav-list>
  <mat-icon id="toggle" matTooltip="Hide Sidepanel" matTooltipClass="tooltip" >keyboard_arrow_left</mat-icon>
</div>